// <section id="thread">

//     <% data.forEach((post)=>{ %>


//         <section name="<%= post.activity %>"class="message" id= "<%= post.postName.replace(/ /g, '_') %>">

//     <p class="none" id="dataID"><%= data._id %></p>
//         <div id="header">
//             <h2><%= post.postName %></h2>
//             <h4> <%= post.date %></h4>
//         </div>
        
//         <p><%= post.postContent %></p>
        
//         <div id="tags"> <% post.tags.forEach((tag, i)=> { %>
//             <div class="tag">
//             <h3><%= tag[i] %> </h3> <% 
//         }) %>


//         </div>

//     </div>


//     <div id="profilePic-name">
//     <img src="http://localhost:5555/msg" alt="Profile image">
//         <p id="username"><%= post.username %></p>
//     </div>

//     <div id="reactions">
//         <form class="reaction-form">
//         <img src="">
//         <input placeholder="schrijf een opmerking..." type="text" class="reaction-input">
//         <input type="submit" value="plaats" class="button">
//         </form>
        
//     </div>
// </section>

// <%
// }) 

// %>




// </section>