<% include ../components/header.ejs %>
<header id="dashboard-header">
  <img id="logo" src="/assets/logo.svg" alt="logo">
  <div id="add-post">
    <img src="/assets/cross.svg" alt="cross">
  </div>
</header>

<nav>
  <h2>heb je
    <div class="slider">
      <ul class="slider-words">
        <li class="slider-word">kennis om te delen?</li>
        <li class="slider-word">een vraag?</li>
        <li class="slider-word">zin om koffie te drinken?</li>
        <!--
         <li class="slider-word">eventjes pauze?</li>
         <li class="slider-word">feedback nodig?</li>
        -->
         <!-- This last word needs to duplicate the first one to ensure a smooth infinite animation -->
        <li class="slider-word">kennis om te delen?</li>
      </ul>
    </div>
  </h2>
  <!-- <h2 class="close-nav">X</h2> -->
  <ul>
    <li style="background-color: rgba(255,160,0,0.3)"><a href="shareKnowledge">kennis delen</a></li>
    <li style="background-color: rgba(0,155,150,0.3);"><a href="helpMe">ik heb kennis/hulp nodig</a></li>
    <li style="background-color: rgba(160,0,120,0.3);"><a href="somethingTogether">ik wil samen iets doen</a></li>
  </ul>
</nav>

<form id="dashboard-search">
  <input type="text" name="" id="search-tags" placeholder="zoek hier naar posts">

  <div id="checkbox">
    <input type="checkbox" id="offer-help" name="shareKnowledge" value="">
    <label for="offer-help">hulp aangeboden</label>

    <input type="checkbox" id="help" name="helpMe" value="">
    <label for="help">hulp nodig</label>

    <input type="checkbox" id="together" name="somethingTogether" value="">
    <label for="together">samen doen</label>
  </div>

</form>
<section id="thread">

    <% data.forEach((post)=>{ %>


        <section name="<%= post.activity %>"class="message" id= "<%= post.postName.replace(/ /g, '_') %>">

        <div id="header">
            <h2><%= post.postName %> <img src="<%=`/assets/${post.activity}.svg` %>"></h2>
            <% if(post.profilePic) { %>
              <img src="<%= post.profilePic %>" alt="Profile image">
          <% } else { %>
              <img src="/assets/placeholder.jpg" alt="Profile image">
        <% } %>
            <h4> <i>Door: <%= post.username %></i></h4>
            <h4 class="date-text"><i><%= post.date %></i></h4>

        </div>

        <p><%= post.postContent %></p>

        <div id="tags"> <% post.tags.forEach((tag)=> { %>
            <div class="tag">
            <h3><%= tag %> </h3>
        </div>
             <% }) %>
    </div>

    <div class="toggle-reactions">
      <img src="/assets/message-circle.svg" alt="message">
      <p>0</p>
    </div>
    <!-- <p class="toggle-reactions">Plaats de eerste reactie!</p> -->
    <div id="reactions">
        <form class="reaction-form">
        <img src="/assets/placeholder.jpg">
        <input name="reaction" placeholder="schrijf een opmerking..." type="text" class="reaction-input">
        <input type="submit" value="plaats" class="button">
    <p class="none" id="dataID"><%= post._id %></p>
        </form>
      <% console.log('test') %>
      <!-- <% console.log(post) %> -->
<%


if(post.reactions.push){
  post.reactions.forEach((reaction)=>{ %> 

<img src="/assets/placeholder.jpg" alt="Profile Image">
<div class="reaction"><%= reaction.data %>
</div>
<p class="date-time"><%=  reaction.date %></p>


  <% })} %>
    </div>
</section>
<%
})
%>
</section>

<script defer src="../javascript/slice-date-time.js" type="module"></script>
<script defer src="../javascript/reaction-counter.js" type="module"></script>
<script defer src ="../javascript/dynamicStyle.js" type="module"></script>
<script defer src="../javascript/scroll.js" type="module"></script>
<script defer src="../javascript/dashboard-filter.js" type="module"></script>

<% include ../components/scripts.ejs %>
<% include ../components/footer.ejs %>
