<% include ../components/header.ejs %>

<header id="dashboard-header">
  <h2>prikbord</h2>
  <nav>
    <h2>heb je
      <div class="slider">
        <ul class="slider-words">
          <li class="slider-word">kennis om te delen?</li>
          <li class="slider-word">een vraag?</li>
          <li class="slider-word">zin om koffie te drinken?</li>
          <!--
           <li class="slider-word">eventjes pauze?</li>
           <li class="slider-word">feedback nodig?</li>
          -->
           <!-- This last word needs to duplicate the first one to ensure a smooth infinite animation -->
          <li class="slider-word">kennis om te delen?</li>
        </ul>
      </div>
    </h2>
    <!-- <h2 class="close-nav">X</h2> -->
    <ul>
      <li><a href="shareKnowledge">epertise delen</a></li>
      <li><a href="helpMe">ik heb kennis/hulp nodig</a></li>
      <li><a href="somethingTogether">ik wil samen iets doen</a></li>
    </ul>
  </nav>
</header>


<form id="dashboard-search">
  <h2>Zoek naar posts</h2>
  <input type="text" name="" id="search-tags" placeholder="zoek hier naar posts">

  <div id="checkbox">
    <input type="checkbox" id="together" name="" value="">
    <label for="together">Samen doen</label>

    <input type="checkbox" id="help" name="" value="">
    <label for="help">Hulp nodig</label>

    <input type="checkbox" id="offer-help" name="" value="">
    <label for="offer-help">Hulp aangeboden</label>
  </div>

</form>
<section id="thread">

    <% data.forEach((post)=>{ %>


        <section name="<%= post.activity %>"class="message" id= "<%= post.postName.replace(/ /g, '_') %>">

        <div id="header">
            <h2><%= post.postName %></h2>
            <h4> <%= post.date %></h4>
        </div>
        
        <p><%= post.postContent %></p>
        
        <div id="tags"> <% post.tags.forEach((tag)=> { %>
            <div class="tag">
            <h3><%= tag %> </h3> <% 
        }) %>
        </div>
    </div>


    <div id="profilePic-name">
    <img src="<%= post.profilePic %>" alt="Profile image">
        <h2 id="username"><%= post.username %></h2>
    </div>

    <div id="reactions">
        <form class="reaction-form">
        <img src="">
        <input name="reaction" placeholder="schrijf een opmerking..." type="text" class="reaction-input">
        <input type="submit" value="plaats" class="button">
    <p class="none" id="dataID"><%= post._id %></p>
        </form>
      <% console.log('test') %>
      <% console.log(post) %>
<% 
console.log(post.reactions[0].data)
if(post.reactions[0].data){

  post.reactions[0].data.forEach((reaction)=>{ %>
<img src="/assets/placeholder.jpg" alt="Profile Image">
<div class="reaction"><%= reaction %>
<p class="date-time"><%=  %></p>
</div>


  <% })} %>
    </div>
</section>
<%
}) 
%>
</section>

<footer id="index-footer">
  <div id="add-post">
    <img src="/assets/cross.svg" alt="cross">
  </div>
</footer>

<script defer src="../javascript/dashboard-filter.js" type="module"></script>

<% include ../components/scripts.ejs %>
<% include ../components/footer.ejs %>
