<% include ../components/header.ejs %>

<header>
  <h2>zo ziet je bericht er uit</h2>
</header>

<section class="message" name="<%= data.activity %>">
  <div id="header">
  <input class="none" id="activity" value="<%= data.activity %>">
    <h2 name="postName"id="postName" class="data"><%= data.postName %> <img src="<%=`/assets/${data.activity}.svg` %>"></h2>
    <h4 name="" class="data time-text" id="Date"><%= data.date %></h4>
    <h4 name="" class="data date-text"></h4>
  </div>
    <p name="postContent" class="data content-text" id="postContent"> <%= data.postContent %></p>

    <div id="tags">
      <div class="data" name="tags" id="tagField"> 
      <input class="none" type="text" name="tags" value=""><!-- give created element this class -->
         <!-- store this elements in created div -->
         
         <% data.tags.forEach((tag, i)=>{ %>
    <p class="tag"><%= tag %></p>
         <% }) %>
      </div>
    </div>

    <div id="profilePic-name">
    <%
 
     if(data.image != ""){ %>
      <img src="<%= data.image || '' %>" alt="" id="imagePreview">
    
    <% }else{ %>
      <img src="/assets/placeholder.jpg" alt="Placeholder profile picture" id="imagePreview">

    <%}%>
      <input type="text" name="pic" class="none" id="imageInForm"><%= data.profilePic %>
      <h2 name="username" class="data" id="username"><%= data.username%></h2>
      
    </div>
</section>

<footer id="navigate-footer">
  <div class="prev-next-button">
    <a href="<%= data.activity %>">terug</a>
  </div>
  <img src="/assets/question-mark.svg" alt="explore">
  <div class="prev-next-button">
    <a id="postButton" href="dashboard">plaats</a>
  </div>
</footer>

<script defer src="../javascript/slice-time.js" type="module"></script>
<script defer src="../javascript/handlepost.js"></script>
<% include ../components/scripts.ejs %>

<% include ../components/footer.ejs %>
