<% include ../components/header.ejs %>

<header>
  <h2>zo ziet je bericht er uit</h2>
</header>

<section class="message">
  <div id="header">
  <input class="none" id="activity" value="<%= data.activity %>">
    <h2 name="postName"id="postName" class="data"><%= data.postName %></h2>
    <h4 name="" class="data time-text" id="Date"><%= data.date %></h4>
    <h4 name="" class="data date-text"></h4>
  </div>
    <p name="postContent" class="data content-text" id="postContent"> <%= data.postContent %></p>

    <div id="tags">
      <div class="tag data" name="tags" id="tagField"> <!-- give created element this class -->
         <!-- store this elements in created div -->
         <%= data.tags %>
      </div>
    </div>

    <div id="profilePic-name">
      <img src="<%= data.image %>" alt="" id="imagePreview">
      <input type="text" name="pic" class="none" id="imageInForm"><%= data.picSting %>
      <h2 name="username" class="data" id="username"><%= data.username%></h2>
      
    </div>
</section>

<footer id="navigate-footer">
  <div class="prev-next-button">
    <a href="shareKnowledge">terug</a>
  </div>
  <img src="/assets/question-mark.svg" alt="explore">
  <div class="prev-next-button">
    <a id="postButton" href="dashboard">plaats</a>
  </div>
</footer>

<script defer src="../javascript/slice-time.js" type="module"></script>
<% include ../components/scripts.ejs %>

<% include ../components/footer.ejs %>
